
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
    margin: 0;
    padding: 0;
    background: #000 url('../images/background.jpg') fixed;
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow-y: scroll;
}
.logo {
    width: 100%;
    margin: 0 auto;
    max-width: 1550px;
}
#wordBox {
    border: 1px solid pink;
    padding: 2%;
    text-align: center;
    color: hotpink;
    width: 80%;
    margin: 0 auto;
    font-size: 2rem;
    box-shadow: 0 0 10px hotpink;
    margin-bottom: 2%;
    font-family: 'Press Start 2P', cursive;
}
h1, h2, h3 {
    color: white;
    font-family: 'Press Start 2P', cursive;
}
h1 {
    
    font-size: 1.2rem;
}
h2 {
    font-size: 1rem;
}

.startBtn {
    padding: 1%;
background: transparent;
color: white;
text-transform: uppercase;
border: 2px solid hotpink;
cursor: pointer;
margin: 2% auto;
}
.startBtn:hover {
    padding: 1%;
background: transparent;
color: white;
text-transform: uppercase;
border: 2px solid #6b98d1;
box-shadow: 0 0 10px #6b98d1;
cursor: pointer;
margin: 2% auto;
}
#winNumber, #lossNumber {
    color: white;
    
}
.guessingImage {
    vertical-align: middle;
    border-style: none;
    margin-top: -2%;
    width: 80%;
    max-width: 450px;
}
}